<!DOCTYPE html>
<html>
<head>
    <title>Slim Skeleton</title>
    <style>

        .content {
            margin: 50px auto;
            width: 400px;
            font-family: consolas, monospace;
            border: 1px solid #cecece;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>